.ofertas-section {
  padding: 80px 20px;
  background: linear-gradient(135deg, #f7eaff, #fff);
  text-align: center;
}

.ofertas-content {
  max-width: 700px;
  margin: 0 auto;
}

.ofertas-content h2 {
  font-size: 32px;
  color: #3b2645;
  margin-bottom: 12px;
}

.ofertas-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.btn-ofertas {
  background: #3b2645;
  color: rgb(9, 2, 2);
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn-ofertas:hover {
  background: #5a3a6b;
}